<h1>Posts page</h1>

<form class="form">
  <input
    type="text"
    placeholder="Title..."
    class="form-control"
    name="postTitle"
    [(ngModel)]="postTitle"
  />
  <button class="btn" (click)="addPost()">add post</button>
</form>

<form class="form">
  <input
    type="text"
    placeholder="Search..."
    class="form-control"
    name="filter"
    [(ngModel)]="serach"
  />
</form>

<app-post
  *ngFor="let post of allPosts | filter: serach"
  [p]="post"
  (postId)="removePost($event)"
  (updateObj)="updatePost($event)"
></app-post>
